.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.my-class {
  display: flex;
  align-items: center;
  font-weight: 800;
  height: 3rem;
  padding: 0;
  text-overflow: initial;
}

.handsontable thead tr th .relative .colHeader {
  max-width: initial !important;
  width: 100% !important;
  overflow: hidden;
  text-overflow: initial !important;
  vertical-align: top;
  padding-inline: 0 !important;
}

.handsontable thead tr th .relative {
  padding: var(--ht-cell-vertical-padding) var(--ht-cell-horizontal-padding);
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.handsontable .columnSorting:not(.indicatorDisabled).sortAction {
  max-width: none !important;
  min-width: calc(var(--ht-icon-size, 16px) + 8px);
  padding-inline-end: calc(var(--ht-icon-size, 16px) + 2px);
  padding-inline-start: calc(var(--ht-icon-size, 16px) + 2px);
}

.ht-wrapper .handsontable .ht_clone_left {
  border-right: 3px solid rgb(181, 181, 181) !important;
}

.ht-wrapper .handsontable .ht_clone_top_left_corner {
  border-right: 3px solid rgb(181, 181, 181) !important;
}

.duplicate-cell {
  background-color: #ffcccc !important;
}